# ---------------------------------------
# Python cache
# ---------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# Bytecode
*.sqlite3
*.db

# ---------------------------------------
# Virtual environments
# ---------------------------------------
venv/
env/
.venv/
ENV/

# ---------------------------------------
# Jupyter
# ---------------------------------------
.ipynb_checkpoints/
*.ipynb_convert/

# ---------------------------------------
# TensorFlow / Keras model files 
# ---------------------------------------
*.h5
*.hdf5
*.keras
saved_model/
SavedModel/


# ---------------------------------------
# Datasets (VERY IMPORTANT)
# ---------------------------------------
datasets/
dataset/
data/
train/
test/
valid/
*.zip
*.tar
*.tar.gz

# ---------------------------------------
# Streamlit cache & logs
# ---------------------------------------
.streamlit/
.cache/
*.log

# ---------------------------------------
# IDE settings
# ---------------------------------------
.vscode/
.idea/

# ---------------------------------------
# OS files
# ---------------------------------------
.DS_Store
Thumbs.db

# ---------------------------------------
# Environment files
# ---------------------------------------
.env
.env.local
.env.* 

